*{
	padding: 0;
	margin: 0;
}
/*头部*/
.head-box{
	width: 100%;
	height: 700px;
	background: url(../img/img1/banner_bbb.png) 0 0 no-repeat;
	position: relative;
}
.words{
	width: 750px;
	height: 500px;
	position: absolute;
	top:40px;
	left: 42%; 
}
.dp{
	width: 307px;
	height: 450px;
	background: url(../img/img1/dengpao.png) 0 0 no-repeat;
}
.title{
	position: absolute;
	text-align: center;
	top: 340px;
	left: -32%;
	color: white;
	z-index: 1000000;
}
.title-one{
	font-size: 25px;
	margin-bottom: 15px;
}
.title-two{
	font-size: 55px;
}
.nav-box{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 65px;
}
.nav-left{
	float: left;
	width:50%;
	height: 100%;
	background:rgba(0,0,0,0.2);
}
.nav-left .logo{
	padding: 11px 15px;
	width: 80px;
	background: #000;
	float: left;
}
.nav-left .nav-day{
	float: left;
	line-height: 65px;
	color: white;
	margin-left: 15px;
	font-size: 15px;

}
.nav-left .nav-day img{
	vertical-align: middle;
	margin-left: 15px;
}
.nav-right{
	float: left;
	width: 50%;
	height: 100%;
	background:rgba(0,0,0,0.1);
}
.nav-item{
	list-style: none;
	width: 100%;
	height: 100%;
}
.nav-item li{
	float: left;
	text-align: center;
	line-height: 65px;
	width: 16.6%;
	border-left: 2px solid #ca435b;
	box-sizing:border-box;
}
.nav-item li a{
	color: white;
	text-decoration: none;
}
.nav-item li a:hover{
	color: #f0ff00;
}
/*咨询留言*/
.z-box{
	width: 100%;
	height: 780px;
	text-align: center;
	background: #f2f0f0;
	overflow: hidden;
}
.z-box h1{
	color: #e94b59;
	margin-top: 30px;
}
.z-box h5{
	font-size: 16px;
	margin-top: 10px;
}
.d-cont{
	width: 625px;
	height: 340px;
	margin: 0 auto;
	text-align: left;
	margin-top: 50px;
}
.d-cont  p{
	width: 100%;
	height: 40px;
	margin-top: 15px;
}
.d-cont input{
	width: 460px;
	height: 30px;
	float: left;
	background: none;
	border: none;
	border-bottom: 2px solid #ccc;
	margin-left: 10px;

}
.d-cont span{
	width: 110px;
	height: 40px;
	display: block;
	float: left;
}
.d-cont span img{
	vertical-align: middle;
	margin-right: 5px;
}
.d-cont textarea{
	margin-left: 10px;
	background: none;
	border: 2px solid #ccc;
}
.z-box button{
	border: none;
	background: #ff5d5a;
	border-radius: 10px;
	padding: 5px 8px;
	font-size: 20px;
	color: #fff;
	margin-left: -270px;
	margin-top: 200px;
}
/*脚本*/
.footer{
	width: 100%;
	height: 80px;
	background: #ba0013;
	text-align: center;
	overflow: hidden;
}
.footer p{
	color: #fff;
	font-size: 12px;
	margin-top: 20px;
}